/* ABOUT DANGAL BOT*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Global Styles */

body {
	font-family: 'Poppins';font-size: 22px;
}

/* Header */

header {
	background-color: white;
	color: rgb(0, 0, 0);
	padding: 10px 0;
	position: fixed;
	width: 100%;
	z-index: 100;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

/* About Section */

.about {
	background: rgb(224, 251, 222);
	background: linear-gradient(360deg, rgb(245, 255, 245) 0%, rgb(129, 133, 129) 100%);
	padding: 100px 50px;
	text-align: center;
}

.about h1 {
	font-size: 2.5rem;
	margin-bottom: 20px;
}

.about p {
	font-size: 1rem;
	color: #323030;
	max-width: 800px;
	margin: 0 auto;
}

.about-info {
	margin: 2rem 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: left;
}

.about-img {
	width: 35rem;
	height: 15rem;

}

.about-img img {
	width: 55rem;
	height: 15rem;
	border-radius: 5px;
	object-fit: contain;
}

.about-info p {
	font-size: 1.3rem;
	margin: 0 2rem;
	text-align: justify;
}

/* Footer */
footer {
	background-color: #222;
	color: white;
	text-align: center;
	padding: 10px 0;
}

@media (max-width: 768px) {

	.about h1 {
		font-size: 2rem;
	}

	.about p {
		font-size: 0.9rem;
	}

	.about-info {
		flex-direction: column;
		text-align: center;
		margin-top: -20px;
	}

	.about-img {
		width: 100%;
		height: 100%;
		margin-bottom: 1rem;
	}

	.about-info p {
		margin: 0;
		margin-top: -50px;
	}

	.about-info button {
		margin: 1rem 2rem;
		width: 10rem;
	}
	.about{
		padding: 100px 0px;
	}
}
