* {
  box-sizing: border-box;
}

h2 { 
    background: 1000px rgb(4, 77, 37);
  }

h4 {
  background: 1000px rgb(242, 247, 244);
}

body {
  text-align: center;
  background-color: white;
}

div {

}

div.responsive {
  width: 100%;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0.2px;
  margin-right: 3px;
  margin-left: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.container-validators {
  display: flex;
  justify-content: center;
}

.container-researchers {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 30px;
}

div.gallery {
  border: 3px solid #31572c;
  background-color: #31572c;
}
  
div.gallery:hover {
  border: 5px solid #4f772d;
}
  
div.gallery img {
  width: 100%;
  height: auto;
}
  
div.desc {
  padding: 12px;
  text-align: center;
  border: 2px solid #fefee3;
  background-color: #fefee3;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:large;
}

div.responsive1 {
  width: 16.2%;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0.2px;
  margin-right: 3px;
  margin-left: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
}
    
.responsive {
  padding: 0 6px;
  float: left;
  width: 20%;
}
  
@media only screen and (max-width: 700px) {
  .responsive {
    width: 40%;
    margin: 6px 0;
  }
}
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .responsive1 {
    padding: 0 6px;
    float: left;
    width: 20%;
  }


@media only screen and (max-width: 700px) {
  .responsive1 {
    width: 40%;
    margin: 6px 0;
  }
    
  .container-researchers {
    display: block;
    justify-content: center;
    display: flex;
    flex-direction:column;

  }
    
  .container-researchers img {
    display: block;
    width: 100%;
    height: 100%;
  }
    
  .responsive {  
    width: 100%;
    height: 100%;
  }
}
  
  @media only screen and (max-width: 500px) {
    .responsive1 {
      width: 100%;
    }
  }
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  .button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

